@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;
@define-color overlay_border #45475a;

/* @AUTHOR: Kalos Lazo */
/* @GITHUB: @kaloslazo */

/* =>> Global */
* {
  font-family: "Iosevka Nerd Font", monospace;
  font-weight: bold;
  font-size: 12px;
  color: @text;
}

/* =>> Window */
window#waybar {
  /* background-color: @crust; */
  background-color: transparent;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: 0.5s;
  /* border: 1px solid @surface1; */
}

/* =>> Button */
button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 4px;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* =>> General tweaks modules */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#workspaces,
#window,
#language,
#tray,
#custom-pacman,
#custom-launcher,
#custom-weather {
  background-color: @base;
  color: @text;
  margin: 0.25em;
  padding: 0 0.8em;
  border-radius: 5px;
  border: 1px solid @overlay_border;
}

/* =>> Custom */
#custom-launcher {
  color: @mauve;
  margin-left: 0em;
}

/* =>> Each customization */
#clock {
  color: @sapphire;
}

#battery {
  padding-right: 1.2em;
  color: @peach;
}
#battery.charging,
#battery.plugged {
  color: @green;
}
#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: @maroon;
  padding-right: 0.9em;
}

#memory {
  color: @lavender;
  padding-right: 0.9em;
}

#backlight {
  color: @yellow;
}

#network {
  color: @sky;
  padding-right: 1.2em;
}
#network.disconnected {
  color: @red;
}

#pulseaudio {
  color: @blue;
}
#pulseaudio.muted {
  color: @red;
}

#wireplumber {
  color: @text;
}
#wireplumber.muted {
  background-color: @red;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}
#custom-media.custom-spotify {
  color: @green;
}
#custom-media.custom-vlc {
  background-color: #ffa000;
}
#temperature {
  color: @sky;
}
#temperature.critical {
  color: @red;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @yellow;
}

#language {
  color: @blue;
}

/* =>> Animations */
@keyframes blink {
  to {
    color: #000000;
  }
}

/* =>> Workspaces */
#workspaces {
  margin-left: 0.5em;
}

#workspaces button {
  padding: 0em 0.2em;
  color: @text;
  background-color: transparent;
}

#workspaces button.empty {
  color: @overlay0;
}

#workspaces button.visible {
  color: @red;
}

#workspaces button.active {
  color: @green;
}

#workspaces button.urgent {
  color: @red;
}
